#header{
  margin: 20px auto;
  width: 50%;
  background-color: #369;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
.menu{
  margin: 20px auto;
  width: 50%;
  background-color: #444;
  padding: 5px 30px;
  box-sizing: border-box;
}
.menu h2{
  color: #ccc;
  text-shadow: 2px 2px 5px #000;
  font-size: 2em;
  border-bottom: 1px dashed #ccc;
}
.item{
  background-color: #359;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px #000;
  font-size: 1.2em;
}
#done>.item{
    background-color: #963;

}