
body{
	background-color: #333;
}
#topBar{
	position: absolute;
	top: 100%;
	width:100%;
	margin: 0 auto;
	padding:0;
	text-align:center;
}
#topBar .ims{
	display: inline-block;
	border-bottom: 4px solid #000;
	box-sizing: border-box;
	width: 19.5%;
	height: auto;
	margin: 0;
}


#screen{
	position: relative;
	width:800px;
	height: 600px;
	background-image:  none;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
}
#screen button{
	position: absolute;
	top:0;
	width:50px;
	height: 120%;
}

#prev{
	left: 800px;
}
#next{
	left: -50px;
}

